/* SITE-WIDE */
#wrapper { 
	margin: auto;
	padding: 0;
	box-shadow: 0 0 15px rgba(0,0,0,.7);
	min-height: calc(100vh - 241px);
}

.navbar { 
	border-radius: 0;
	margin-bottom: 0;
}

#fold-img-wrapper { 
	background-color: #ddd;
}

#fold-img { 
	position: relative;
	max-width: 960px;
	margin: auto;
}

#fold-img img {
	margin: auto;
}

#request-btn { 
	position: absolute;
	padding-top: 17px;
	bottom: 20px;
	left: 50px;
	width: 210px;
	height: 60px;
	background-color: #008800;
	color: #fff;
	font-size: 18px;
	font-weight: 700px;
	text-shadow: 3px 2px 5px rgba(0,0,0,.5);
	border: none;
	text-transform: uppercase;
	transition: background .3s;
}

#request-btn:hover { 
	background-color: #00aa00;
}

.copy { 
	max-width: 960px;
	padding: 15px;
	margin: auto;
}

#main-content h3 { 
	padding-top: 100px;
	text-align: center;
}

.row{
	margin: 0;
}

footer { 
	background-color: #222;
	color: #9d9d9d;
	text-align: center;
	height: 241px;
}

footer .row {
	padding-top: 10px;
}

footer .row h5 {
	font-weight: 600;
}

footer a {
	color: #fff;
}

.quick-connect {
	margin: 15px;
}

#copyright { 
	text-align: center;
	padding-bottom: 10px;
}

/* SERVICES */

#services-content { 
	padding-top: 40px;
	padding-bottom: 40px;
}

#services-content h2 {
	margin-top: 0;
}

.img-bordered { 
	border: solid #ccc 2px;
}

/* QUOTE */
#quote-content {
	padding-bottom: 40px;
}

.req {
	color: #ff0000;
}

#quote-content .form-group { 
	max-width: 400px;
}

#quote-content textarea {
	resize: none;
	max-width: 400px;
	height: 100px;
}

#quote-content button { 
	width: 190px;
	height: 40px;
	background-color: #008800;
	color: #fff;
	font-size: 18px;
	font-weight: 700px;
	text-shadow: 3px 2px 5px rgba(0,0,0,.5);
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	transition: background .3s;
}

#quote-content button:hover { 
	background-color: #00aa00;
}

/* ABOUT */
#about-content { 
	padding-top: 40px;
	padding-bottom: 40px;
}
#about-content h2 {
	margin-top: 0px;
}

/* CONTACT */
#contact-content {
	text-align: center;
}

#contact-content .row {
	padding-top: 20px;
}

#contact-btn {
	display: block; 
	margin: 50px auto 0;
	width: 190px;
	height: 40px;
	background-color: #008800;
	color: #fff;
	font-size: 18px;
	font-weight: 700px;
	text-shadow: 3px 2px 5px rgba(0,0,0,.5);
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	transition: background .3s;
}

#contact-btn:hover { 
	background-color: #00aa00;
}

/* RESOURCES */
#resources-content {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
